<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h3>{{name}}</h3>
      </div>
      <div class="col-auto">
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
</div>
